[submodule "themes/engimo"]
	path = themes/engimo
	url = https://github.com/rliebling/engimo
[submodule "themes/hugo-debugprint"]
	path = themes/hugo-debugprint
	url = git@github.com:kaushalmodi/hugo-debugprint.git
